* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-container {
    color: #fff;
    background-color: #5995DA;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.menu {
    border: 1px solid #fff;
    width: 900px;
    display: flex;
    justify-content: space-between;
}
.links {
border: 1px solid #fff;
display: flex;
justify-content: flex-end;
}
.header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
}
.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
.main {
margin-left: 20px;
}
.wrapper {
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
    margin:0;
  }
  
.headline {
    width: 100%;
    display: inline-block;
    background-color: rgba(0,139, 139,0.8);
    padding: 10px 15px;
    margin: 0;
    margin-bottom: 10px;
  }
